body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-align: justify;
}
img {
    display: block;
    margin: 0.5em auto;
    max-width: 100%;
    height: auto;
}
pre {
    white-space: pre-wrap;
    display: block;
    margin: 0.5em;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
p , table{
    margin: 0.3em;
}
table td, table th {
    border-bottom: 1px solid #ccc;
    font-size: 85%;
    color: #444;
}